# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/.settings
/debug_ppc_7400
/debug_arm_sim
/release_ppc_7400
/debug_mpc5125
/debug_arm_pi
/build
/.gradle
/debug_ppc_7400fp
