**/.settings
**/build
/.gradle
**/.project
**/.cproject
utilBuilder/*.img
binutils/src
binutils/build*
binutils/*.tar.*
newlib/src
newlib/build*
newlib/*.tar.*
gcc/src
gcc/build*
gcc/*.tar.*
arm-eabi
